apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: open-webui
  namespace: open-webui
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`ai.zaman.lol`)
      kind: Rule
      services:
        - name: open-webui
          port: 80
  tls:
    certResolver: cloudflare
