repositories:
  - name: traefik
    url: https://traefik.github.io/charts
  - name: metallb
    url: https://metallb.github.io/metallb
  - name: sealed-secrets
    url: https://bitnami-labs.github.io/sealed-secrets
  - name: longhorn
    url: https://charts.longhorn.io
  - name: minio
    url: https://charts.min.io/
  - name: community-charts
    url: https://community-charts.github.io/helm-charts
  - name: rancher-stable
    url: https://releases.rancher.com/server-charts/stable
releases:
  - name: metallb
    namespace: metallb
    chart: metallb/metallb
    version: ~0.14.0
    createNamespace: true
    hooks:
      - events: ["postsync"]
        showlogs: true
        command: "kubectl"
        args:
          - "apply"
          - "-f"
          - "manifests/metallb/ip-pool.yaml"
  - name: traefik
    namespace: traefik
    chart: traefik/traefik
    version: ~28.0.0
    values:
      - helm/values/traefik/values.yaml
    hooks:
      - events: ["presync"]
        showlogs: true
        command: "kubectl"
        args:
          - "apply"
          - "-f"
          - "middleware/traefik/dashboard-auth.yaml"
  - name: sealed-secrets
    namespace: sealed-secrets
    chart: sealed-secrets/sealed-secrets
    version: 2.17.9
    installed: true
    createNamespace: true
    values:
      - fullnameOverride: sealed-secrets
        rbac:
          create: true
  - name: longhorn
    namespace: longhorn-system
    chart: longhorn/longhorn
    version: ~1.10.0
    createNamespace: true
    values:
      - helm/values/longhorn/values.yaml
    hooks:
      - events: ["postsync"]
        showlogs: true
        command: "kubectl"
        args:
          [
            "wait",
            "--namespace=longhorn-system",
            "--for=condition=ready",
            "pod",
            "-l=app=longhorn-manager",
            "--timeout=300s",
          ]
  - name: minio
    namespace: minio
    chart: minio/minio
    version: ~5.2.0
    values:
      - helm/values/minio/values.yaml
    hooks:
      - events: ["presync"]
        showlogs: true
        command: "kubectl"
        args:
          - "apply"
          - "-f"
          - "manifests/namespaces/minio.yaml"
      - events: ["presync"]
        showlogs: true
        command: "kubectl"
        args:
          - "apply"
          - "-f"
          - "manifests/secrets/sealed-secrets/sealed-secret-minio-credentials.yaml"
  - name: n8n
    namespace: n8n
    chart: community-charts/n8n
    version: ~1.16.0
    values:
      - helm/values/n8n/values.yaml
    hooks:
      - events: ["presync"]
        showlogs: true
        command: "kubectl"
        args:
          - "apply"
          - "-f"
          - "manifests/namespaces/n8n.yaml"
      - events: ["presync"]
        showlogs: true
        command: "kubectl"
        args:
          - "apply"
          - "-f"
          - "manifests/secrets/sealed-secrets/sealed-secret-n8n.yaml"
  - name: rancher
    namespace: cattle-system
    chart: rancher-stable/rancher
    version: ~2.13.0
    values:
      - helm/values/rancher/values.yaml
    hooks:
      - events: ["presync"]
        showlogs: true
        command: "kubectl"
        args:
          - "apply"
          - "-f"
          - "manifests/namespaces/rancher.yaml"
      - events: ["postsync"]
        showlogs: true
        command: "kubectl"
        args:
          - "apply"
          - "-f"
          - "ingress-routes/rancher/rancher.yaml"
