repositories:
  - name: traefik
    url: https://traefik.github.io/charts
  - name: metallb
    url: https://metallb.github.io/metallb

releases:
  - name: metallb
    namespace: metallb-system
    chart: metallb/metallb
    version: ~0.14.0
    values:
      - helm/values/metallb/values.yaml
    # hooks:
      # - events: ["presync"]
      #   showlogs: true
      #   command: "kubectl"
      #   args:
      #     - "apply"
      #     - "-f"
      #     - "manifests/namespaces/metallb.yaml"

  - name: traefik
    namespace: traefik
    chart: traefik/traefik
    version: ~28.0.0
    values:
      - helm/values/traefik/values.yaml
    # hooks:
      # - events: ["presync"]
      #   showlogs: true
      #   command: "kubectl"
      #   args:
      #     - "apply"
      #     - "-f"
      #     - "manifests/namespaces/traefik.yaml"
      # - events: ["presync"]
      #   showlogs: true
      #   command: "kubectl"
      #   args:
      #     - "apply"
      #     - "-f"
      #     - "manifests/secrets/cloudflare-api-token.yaml"
      # - events: ["presync"]
      #   showlogs: true
      #   command: "kubectl"
      #   args:
      #     - "apply"
      #     - "-f"
      #     - "manifests/secrets/traefik-auth.yaml"
      # - events: ["postsync"]
      #   showlogs: true
      #   command: "kubectl"
      #   args:
      #     - "apply"
      #     - "-f"
      #     - "middleware/traefik/auth.yaml"