---
apiVersion: v1
kind: Service
metadata:
  name: mongodb-svc
  namespace: mongodb
  labels:
    app: mongodb
spec:
  selector:
    app: mongodb-svc
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
  type: ClusterIP
