---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: whoami
  namespace: default
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`whoami.zaman.lol`)
    kind: Rule
    services:
    - name: whoami
      port: 80
  tls:
    certResolver: cloudflare
    domains:
    - main: zaman.lol
      sans:
        - "*.zaman.lol"