bases:
  - ../bases/repositories.yaml

releases:
  - name: redis
    namespace: redis
    chart: bitnami/redis
    version: ~24.0.0
    values:
      - ../helm/values/redis/values.yaml
    hooks:
      - events: ["presync"]
        showlogs: true
        command: "kubectl"
        args:
          - "apply"
          - "-f"
          - "../manifests/namespaces/redis.yaml"
      - events: ["presync"]
        showlogs: true
        command: "kubectl"
        args:
          - "apply"
          - "-f"
          - "../manifests/secrets/sealed-secrets/sealed-secret-redis-credentials.yaml"
      - events: ["postsync"]
        showlogs: true
        command: "kubectl"
        args:
          - "apply"
          - "-f"
          - "../ingress-routes/redis/redis.yaml"
