bases:
  - ../bases/repositories.yaml

releases:
  - name: sealed-secrets
    namespace: sealed-secrets
    chart: sealed-secrets/sealed-secrets
    version: 2.17.9
    installed: true
    createNamespace: true
    values:
      - fullnameOverride: sealed-secrets
        rbac:
          create: true
