bases:
  - ../bases/repositories.yaml

releases:
  - name: traefik
    namespace: traefik
    chart: traefik/traefik
    version: ~28.0.0
    values:
      - ../helm/values/traefik/values.yaml
    hooks:
      - events: ["presync"]
        showlogs: true
        command: "kubectl"
        args:
          - "apply"
          - "-f"
          - "../middleware/traefik/dashboard-auth.yaml"
