- name: Setup UFW and allow OpenSSH traffic
  hosts: all
  become: 'yes'
  gather_facts: 'yes'
  tasks:
    - name: Install UFW package
      ansible.builtin.apt:
        name: ufw
        state: present
        update_cache: 'yes'
    - name: Allow OpenSSH through UFW
      ansible.builtin.shell: ufw allow OpenSSH
    - name: Enable UFW firewall
      ansible.builtin.shell: ufw --force enable
    - name: Show UFW status
      ansible.builtin.shell: ufw status verbose
      register: ufw_status
      changed_when: false
