apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: minio-s3
  namespace: minio
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`s3.zaman.lol`)
      kind: Rule
      services:
        - name: minio
          port: 9000
  tls:
    certResolver: cloudflare
